body {
    font-family: sans;
    margin: 0;
}

#menu {
    color: white;
    background-color: darkblue;
    text-align: center;
    user-select: none;
}

#menu #title {
    display: inline-block;
    font-weight: bold;
    padding: 1rem;
}

#app {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#app > * {
    padding: 1rem;
}

audio {
    width: 100%;
}
